<header>
  <div id="player_1_name">
    <a href="#" class="remove-player">&times;</a>
    <span class="player-label">FirstName LastName</span>
  </div>
  <div id="player_2_name">
    <a href="#" class="remove-player">&times;</a>
    <span class="player-label">FirstName LastName</span>
  </div>
</header>
<div id="interface" class="board-ui-container green-gradient">

  <a href="#" class="player-color" data-player-color="blue" id="player_1_color"></a>
  <a href="#" class="player-color" data-player-color="gray" id="player_2_color"></a>

  <div id="end_game">
    <a href="#" id="end_game_link">&times;</a>
    End Game
  </div>
</div>
<div id="board" class="board-ui-container">
  <a href="#" class="board-cell"></a>
  <a href="" class="board-cell"></a>
  <a href="" class="board-cell"></a>
  <a href="" class="board-cell"></a>
  <a href="" class="board-cell"></a>
  <a href="" class="board-cell"></a>
  <a href="" class="board-cell"></a>
  <a href="" class="board-cell"></a>
  <a href="" class="board-cell"></a>
  <a href="" class="board-cell"></a>
  <a href="" class="board-cell"></a>
  <a href="" class="board-cell"></a>
  <a href="" class="board-cell"></a>
  <a href="" class="board-cell"></a>
  <a href="" class="board-cell"></a>
  <a href="" class="board-cell"></a>
  <a href="" class="board-cell"></a>
  <a href="" class="board-cell"></a>
  <a href="" class="board-cell"></a>
  <a href="" class="board-cell"></a>
  <a href="" class="board-cell"></a>
  <a href="" class="board-cell"></a>
  <a href="" class="board-cell"></a>
  <a href="" class="board-cell"></a>
  <a href="" class="board-cell"></a>
  <a href="" class="board-cell"></a>
  <a href="" class="board-cell"></a>
  <a href="" class="board-cell"></a>
  <a href="" class="board-cell"></a>
  <a href="" class="board-cell"></a>
  <a href="" class="board-cell"></a>
  <a href="" class="board-cell"></a>
  <a href="" class="board-cell"></a>
  <a href="" class="board-cell"></a>
  <a href="" class="board-cell"></a>
  <a href="" class="win-link" data-win-color="blue" id="blue_win">Blue Win</a>
  <a href="" class="win-link" data-win-color="gray" id="gray_win">Gray Win</a>
</div>