<header class="green-gradient">
  <div *ngIf="player1" id="player_1_name" (click)="showPlayers1=true">
    <span class="player-label">{{player1.username}}</span>
  </div>
  <div *ngIf="!player1" id="player_1_name" (click)="showPlayers1=true">
    <span class="player-label">Select Player 1</span>
  </div>
  <div *ngIf="player2" id="player_2_name" (click)="showPlayers2=true">
    <span class="player-label">{{player2.username}}</span>
  </div>
  <div *ngIf="!player2" id="player_2_name" (click)="showPlayers2=true">
    <span class="player-label">Select Player 2</span>
  </div>
</header>
<div *ngIf="showPlayers1 || showPlayers2" id="full_select_container">
  <div *ngIf="showPlayers1">
    <div *ngFor="let player of allPlayers" class="player-item" [style.display]="player2 !== player ? 'block' : 'none'" (click)="player1=player; showPlayers1=false">
      <a href="#" class="remove-player">&times;</a>
      <span>{{player.username}}</span>
    </div>
  </div>
  <div *ngIf="showPlayers2">
    <div *ngFor="let player of allPlayers" class="player-item" [style.display]="player1 !== player ? 'block' : 'none'" (click)="player2=player; showPlayers2=false">
      <a href="#" class="remove-player">&times;</a>
      <span>{{player.username}}</span>
    </div>
  </div>
</div>
<div id="board" class="board-ui-container">
  <div *ngIf="showGameBoard && winner === 'playing'">
    <div *ngFor="let column of gameGrid; let index = index" class="board-column">
      <div *ngFor="let cell of column" class="board-cell" [ngClass]="setCellClass(cell)"></div>      
    </div>
    <div *ngFor="let column of gameGrid; let i=index" class="board-column  selector">
      <button type="button" class="board-cell" (click)="sendMove($event, i)">{{ i }}</button>
    </div>
  </div>
  <a *ngIf="!showGameBoard" href="" class="win-link" data-win-color="tie" id="tie_win" (click)="startGame($event)">Start Game</a>
  <a *ngIf="winner !== 'playing'" href="" class="win-link" data-win-color="tie" id="tie_win" (click)="endGame($event)">Game Winner: {{winnerName}}! Ready A New Game</a>
</div>